[v-cloak] {
    display: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.search {
    border-radius: 80px;
    padding-left: 45px;
}

i {
    position:absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

th {
    border: 1px rgba(0, 0, 0, 0.18) solid;
}

tbody {
    border: 1px rgba(0, 0, 0, 0.18) solid;
    font-size: 14px;
}
th, td {
    border-bottom: 2px rgba(0, 0, 0, 0.18) solid;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
